.h-96{
    height: 550px;
    width: 550px;
}

@media screen and (min-width: 340px) and (max-width:500px) {
    .home-container{
        flex-wrap: wrap;   
    }

    .h-96{
        height: 300px;
        width: 300px;
    }

    .wallet-img{
        display: flex;
        margin: 0px auto; 
        padding: 2px;
    }

    .home-info{
        font-size: 5px;
        text-align: justify;

    }

    .home-text{
       font-size: 15px; 
    }

    .btn{
        position: fixed;
        bottom: 10px;
        right: 70px;
        margin: 0;
    }
}